
#projects{
  height: 100vh;
  width: 100%;
}

#projects-wrapper{
  position: relative;
}
#projects-header{
  color: black;
  text-align: center;
  padding-top: 1.5em;
  font-size: 2em;
}

.black-hr{
  border: 1px solid black;
  width: 2em;
}

/*Till here - for another file*/

#about{
  height: 100vh;
  width: 100%;
  background-image: url("images/Backup_of_Untitled-1.png"), -webkit-linear-gradient(45deg, #113B7F 0%, #14293d 100%);
  background-image: url("images/Backup_of_Untitled-1.png"), -moz-linear-gradient(45deg, #113B7F 0%, #14293d 100%);
  background-image: url("images/Backup_of_Untitled-1.png"), linear-gradient(45deg, #113B7F 0%, #14293d 100%);
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: rgba(0,0,0,0.7);*/
  background-attachment: fixed;
  background-position:center center;
  position: relative;
  overflow: hidden;
}

#about-descr-wrapper{
  display: flex;
  flex-direction: row;
}

#about h1 {
  color: white;
  text-align: center;
  font-size: 3.5em;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
}


#img-wrap{
  margin:0;
  padding:0; 
  margin: 0 auto;
  overflow:hidden;
}

#cabin-image{
  opacity: 0.25;
  margin: 0 auto;
  height: 100%;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  float: right;
}
#about-wrapper{
  margin-top: calc(50vh - 3*3.5em);
}

#about-descr-wrapper
{
  position: absolute;
  width: 100%;
  text-align: center;
}

#about-text{
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  font-style: normal;
  font-weight: normal;
  line-height:183%;
  width: 40%;
  margin: 0 auto;
  position: relative;
  z-index:1;
}



@media only screen and (max-width: 780px){
  
  #about-wrapper{
    flex-direction: column;
  }
}
 @media only screen and (max-width: 640px){
    #about-text{
     width: 100%;
    }
}

@media only screen and (max-width: 550px){
  #about-wrapper h1{
    font-size: 2em;
  }
}