.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 5em;
    width: 100%;

}

.card{
    position: relative;
    margin: 2em 5em;
    padding: 0.5em 0 0.5em 0;
    width: 20%;
    height: 12em;
    box-shadow: 10px 20px 40px #e6e6f0;
    border-radius: 3px;
    height: 30%;
}

#special {
    width: 50em;
    margin-top: 4em;
}

.card h3{
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1em;
}


 .icon {
    text-align: center;
    padding: 1em;
    width: 96px;
    height: 96px;
}


@media only screen and (max-width: 950px){
    .card{
        padding: 0.5em 0 5em 0;
        width: 40%;
    }
}


@media only screen and (max-width: 722px){
    .card{
        padding: 0.5em 0 5em 0;
        width: 70%;
    }
}