.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 5em;
    width: 100%;

}

.card{
    position: relative;
    margin: 2em 5em;
    padding: 0.5em 0 0.5em 0;
    width: 20%;
    height: 12em;
    box-shadow: 10px 20px 40px #e6e6f0;
    height: 30%;
}

.card:hover{
    box-shadow: 0 0 40px #d0d0d1;
    border: white;
}

a:link{
    text-decoration: none;
}
/*bug in the alignment of card on mobile*/


#special {
   width:90%;
    margin-top: 4em;
    color: grey;
}

#special ul{
    padding: 1em;
    margin: 0 auto;
}

.card h3{
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1em;
}

.ordinary{
    width: 20em;
    height: 17em;
}


 .icon {
    text-align: center;
    padding: 1em;
    width: 96px;
    height: 96px;
}


/*Bug with responsiveness of first card. Has sth to do with this width here..it cancels out the 20em width*/

@media only screen and (max-width: 950px){
    .card{
        padding: 0.5em 0 5em 0;
        width: 50%;
        margin: 3em auto;
    
    }
}


@media only screen and (max-width: 722px){
    .card{
        padding: 0.5em 0 5em 0;
        width: 70%;
    }
}

@media only screen and (max-width: 490px){
    .card{
        margin: 3em auto;

    }
}