.flex-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;

    font-family: "Droid Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 5em;
    width: 100%;

}

.card{
    position: relative;
    margin: 2em 5em;
    padding: 1em 0 1em 0;
    width: 25%;
    height: 12em;
    box-shadow: 10px 20px 40px #e6e6f0;
    border-radius: 3px;
    height: 30%;
}

.card h3{
    padding: 1em;
}

/*.card p {
    margin: 0 auto;
    text-align: center;
    width:50%;
}*/

 .icon {
    text-align: center;
    padding: 1em;
    width: 96px;
    height: 96px;
}

.feature-left .feature-copy h3 {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1em;
    font-family: Montserrat;
}

@media only screen and (max-width: 950px){
    .card{
        padding: 0.5em 0 5em 0;
        width: 40%;
    }
}


@media only screen and (max-width: 722px){
    .card{
        padding: 0.5em 0 5em 0;
        width: 70%;
    }
}