.carousel-inner > .carousel-item > img {
    height: 100vh !important; 
    width: 100% !important;
   
  }

  .carousel{
      margin: 0 auto;
      height: 100vh !important;
  }

  /*
    BUGS:
    carousel caption is over the navbar - fixed with z index
    Services header comes above header title --?? wtf 0 fixed
    links exact postition fall messed up :( 
  */

  .carousel-caption{
      background: rgba(0,0,0,0.5);
      padding: 50px;
      position: absolute;
      z-index: 1;
  }
