#services-wrapper{
    text-align: center;
    width: 100%;
    margin-top: -8em;
 }
 
 #services-header{
   font-size: 2em;
   width:100%;
 }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 5em;
    width: 100%;

}

.card {
    position: relative;
    margin: 2em 5em;
    padding: 0.5em 0 0.5em 0;
    width: 20%;
    height: 12em;
    box-shadow: 10px 20px 40px #e6e6f0;
    height: 30%;
    text-align: center;
}

#special {
    width:50%;
    margin-top: 4em;
    height: 20em;
    text-align: center;
}
.card  a{
    height: 16em;
    text-decoration: none;
    display: block;
    margin: 0;
    align-self: center;
    width: 100%;
}


.card  a:link{
    text-decoration: none;
}
.card:hover{
    box-shadow: 0 0 40px #d0d0d1;
    border: white;
    /*Not working because of animate.css on .card  divs*/
    transform: scale(1.2);
}


#special ul{
    padding: 1em;
    margin: 0 auto;
    list-style-type: none;
    color: gray;
}

.card  h3{
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1em;
}

.ordinary{
    height: 17em;
}

 .icon {
    text-align: center;
    padding: 1em;
    width: 96px;
    height: 96px;
}


/*By 02.04 responsiveness issues of cards are fixed*/

@media only screen and (max-width: 1205px){
    .ordinary{
        width: 40%;
    }

    #special, #special a{
        width: 60%;
        height: 24em;
    }
}

@media only screen and (max-width: 1000px){
    #special{
        height: 30em;
    }
}


@media only screen and (max-width: 760px){
    #services-wrapper{
      margin-top: 0;
    }
  }
  

@media only screen and (max-width: 722px){
    .card {
        padding: 0.5em 0 5em 0;
        width: 70%;
    }
}

@media only screen and (max-width: 620px){
    #special{
        height: 36em;
    }
}

@media only screen and (max-width: 490px){
    .card {
        margin: 3em auto;
    }
}

@media only screen and (max-width: 490px){

    #special, #special a{
        height: 50em;
    }
}

@media only screen and (max-width: 490px){
    #special, #special a{
        height: 50em;
    }
}