/*slogan over gradient & cabin image styles*/

#about{
  height: 100vh;
  width: 100%;
  background-image: url("../images/Backup_of_Untitled-1.png"), linear-gradient(45deg, #113B7F 0%, #14293d 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center center;
  position: relative;
  overflow: hidden;
}

#about h1 {
  color: white;
  text-align: center;
  font-size: 3.5em;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
}

#about-wrapper{
  margin-top: calc(50vh - 3*3.5em);
}

/*Carousel div styles*/

#projects{
  height: 100vh;
  width: 100%;
}

#projects-wrapper{
  position: relative;
}
#projects-header{
  color: black;
  text-align: center;
  padding-top: 1.5em;
  font-size: 2em;
}

.black-hr{
  border: 1px solid black;
  width: 2em;
}

.carousel-inner > .carousel-item > img {
  height: 100vh !important; 
  width: 100% !important;
  padding: 6em 4em;
 
}

.carousel{
    margin: 0 auto;
    /*height: 100vh; check if carousel-indicators go in place without this*/
    display: block;
}

.carousel-caption{
    background: rgba(0,0,0,0.5);
    padding: 50px;
    position: absolute;
    z-index: 1;
}

.carousel-inner{
  text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.carousel-indicators{
  z-index: 2;
}

/*Making carousel images look better on all resolutions*/


.carousel-caption a{
  color: white;
}

.carousel-caption a:link{
  text-decoration: none;
  color: white;
}

.carousel-caption a:hover{
  color: #00A6FF;
}

/*Carousel dimensions are bootstrap defined, so !important is needed here*/


/*@media only screen and(min-width: 1334px){
  #about{
    background-attachment: fixed;
  }
}*/
@supports (-webkit-overflow-scrolling: touch){
  #about {
      background-attachment: initial;
      overflow: initial;
  }

  /*.carousel-indicators{
    display: none;
  }*/
}

@media only screen and (max-width: 1000px){
  .carousel-inner > .carousel-item > img {
    height: 70vh !important;
    padding: 5em 0;
  }
  #projects
  {
    height: 70vh !important;
  }
}
 
@media only screen and (max-width: 760px){
  #about-wrapper h1{
    font-size: 2em;
  }


  .carousel-inner > .carousel-item > img {
    height: 50vh !important;
    width: 90% !important;
    padding: 0;
  }

  #projects
  {
    height: 50vh !important;
  }

  .carousel-caption{
    padding: 20px;
  }
}

@media only screen and (max-width: 400px){
  #about-wrapper h1{
    font-size: 2em;
  }
  .carousel-inner > .carousel-item > img {
    height: 20vh !important;
    width: 90% !important;
    padding: 0;
  }

  h3{
    font-size: 13px;
  }

  .carousel-caption{
    padding: 10px;
    font-size: 13px;
  }
  #projects
  {
    height: 25vh !important;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
}